body {
    background-image: url(../images/map3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
img {
    border-width: 5px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 20%;
    box-shadow: 10px 10px 20px black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.left {
  display: block;
  margin-right: 50px;
  margin-left: 50px;
}
.center {
  display: block;
  margin-right: 50px;
  margin-left: 50px;
}
.right {
  display: block;
  margin-right: 50px;
  margin-left: 50px;
}