body {
    background-image: url(../images/map3.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    color: brown ;
    font-size: 40px;
    font-weight: 600;
    background-color: beige;
    text-align: center;
}
img {
    border-width: 5px;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 20%;
    box-shadow: 10px 10px 20px black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
botton:hover {
    background-color: lightgreen;
    border-radius: 50%;
    color: blue;
    border-width: 2px ;
}